body{
    font: normal 20pt Arial;
    background-color: rgb(38, 122, 90);
    color: whitesmoke;
    text-align: center;
    position: absolute ; left: 30% ; top: 20%;

}

input{
    font: normal 20pt Arial;
    width: 100px;
}

div#res{
    margin-top: 20px;
}

